# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - Testdockerbruno

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: testdockerbruno.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_68F91836621E42489E0783596F4DD234 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_681B5DBA2B32499798308D0B22A5CECD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: testdockerbruno.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_68F91836621E42489E0783596F4DD234 }}/studentperformance:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B06F053698D647719A3C8A0551A9BA94 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D3297D28107D4615A1169FF3728D5C33 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E5881A794FB14D36813BE2F3C7942DF1 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'Testdockerbruno'
          slot-name: 'Production'
          images: 'testdockerbruno.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_68F91836621E42489E0783596F4DD234 }}/studentperformance:${{ github.sha }}'
          